.container {
    padding-left: 15px;
    padding-right: 15px;
}

.favorites .content-wrapper {
    display: flex;
    position: relative;
}

.favorites .content-image {
    align-self: center;
}

.favorites .content-image img {
    width: 120px;
    float: left;
    margin-right: 15px;
}

.favorites .boxed {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    padding: 12px;
    border-radius: 12px;
    width: 100%;
    margin-left: 15px;
}

.favorite-symbol {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    line-height: 42px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
}

.favorite-symbol ion-icon {
    font-size: 17px;
    color: #383e50;
}

.favorite-symbol.active-symbol {
    background: #698aff;
}

.favorite-symbol.active-symbol ion-icon {
    color: #fff;
}

.price-item-fav {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
    color: #698aff;
}

.title-item-fav {
    font-weight: 500;
    color: #383e50;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
}

.rating-item-fav {
    margin-bottom: 10px;
    display: flex;
    padding: 0;
}

.rating-item-fav li {
    display: inline-block;
    margin-right: 3px;
}

.rating-item-fav li:last-child {
    margin-right: 0;
}

.rating-item-fav li ion-icon {
    color: #ff9234;
}

.location-item {
    font-size: 10px;
}

.location-item ion-icon {
    margin-right: 4px;
}